{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}Extended List{% endblock %}

{% block page_description %}A detailed list of species from the extended dataset.{% endblock %}

{% block content %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="title-section text-white text-center py-5 mb-5">
      <h1 class="display-4">Life in Our State</h1>
      <p class="lead">Texas is rich in biodiversity. However, many of its species are on a path to extinction due to habitat displacement and ecosystem collapse.</p>
    </div>

    <p>Explore the species found in Travis County and learn how conservation efforts aim to protect them.</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for species in species.species %}
      <div class="col">
        <div class="card shadow-sm" role="article" aria-labelledby="species-title-{{ species.slug }}">
          <img src="{{ species.photo_link }}" alt="Photo of {{ species.cname }}" class="bd-placeholder-img card-img-top" style="height: 225px; object-fit: cover;">
          <div class="card-body">
            <h3 id="species-title-{{ species.slug }}" class="card-title">{{ species.cname }}</h3>
            <p class="card-text">{{ species.description }}</p>
            <a href="species/{{ species.slug }}.html" class="btn btn-sm btn-outline-primary">Learn More about {{ species.cname }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
